body {
  background: #fff;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.4;
  margin: 0;
  padding: 10px;
}

a {
  color: #4183c4;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

code {
  background-color: #f8f8f8;
  border: 1px solid #ddd;
  border-radius: 3px;
  font-family: "Bitstream Vera Sans Mono", Consolas, Courier, monospace;
  font-size: 12px;
  margin: 0 2px;
  padding: 0 5px;
}

.searchWrapper {
  width: 80%;
}

.queryLine {
  padding: 2px;
  width: 100%;

}

input#submit {
  float: right;
}

.query {
  overflow: hidden;
}

.query input {
  width: 100%;
}

.checkbox {
  text-align: right;
}

.searchElement {
  padding-bottom: 1em;
}

.searchElement p {
  padding-bottom: 0em;
  margin: 0em;
}
